@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: peachpuff;
  border-radius: 100px;
  
}
::-webkit-scrollbar-thumb{
  background: grey;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
  background: darkgrey;
}
body {
  font-family: "Noto Sans JP";
  background-image: url(https://wallpaperaccess.com/full/1353577.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.landingpage{
  text-align: center;
  margin-top: 20%;
  margin-bottom: 25%;
  
}
.container{
  position:relative;
  height: 100px;
}
.opening{
  position:absolute;
  left: 0;
  right: 0;
  font-size: 80px;
}
.opening:nth-child(1){
  animation: fadewelcome 6s;
  animation-fill-mode: both;
  animation-direction: normal;
}
.opening:nth-child(2){
  animation: fadename 6s;
  animation-fill-mode: both;
  animation-direction: normal;
}

@keyframes fadename{
  0%, 50% {
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
@keyframes fadewelcome{
  0%, 50%, 100%{
    opacity: 0%;
  }
  25%{
    opacity: 100%
  }
}
.description{
  padding-right: 100px;
  font-size: 32px;
  display: inline-block;
  margin-top: 100px;
}
.words{
  position:relative;
}

.I-am{
  padding-right: 8px;
  text-align: right;
  
  animation: normalfade 1.5s;
  animation-delay: 5s;
  animation-fill-mode: both;
  animation-direction: normal;
}
@keyframes normalfade{
  0% {
    opacity: 0%
  }
  100% {
    opacity: 100%
  }
}
.tag{
  position:absolute;
  left:0;
  right:20px;
  white-space: nowrap;
}

.tag:nth-child(1){    
    animation: fade1 9s;
    animation-delay: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
@keyframes fade1{
    0%, 33%, 100% {
      opacity: 0;
}
    16.5%{
      opacity: 1;
  }
}
  .tag:nth-child(2){
    animation: fade2 9s;
    animation-delay: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
  @keyframes fade2{
    0%,33%, 66%, 100% {
      opacity: 0;
}
    50%{
      opacity: 1;
  }
}
  .tag:nth-child(3){
    animation: fade3 9s;
    animation-delay: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
  
  @keyframes fade3{
      0%,66%, 100%{
        opacity: 0;
  }
      82.5%{
        opacity: 1;
    }
  }

  .navigation{
    font-size: 28px;
    margin-top:200px;
    animation: normalfade 1.5s;
    animation-delay: 5s;
    animation-fill-mode: both;
    animation-direction: normal;
  }

  .button{
    color: black;
    padding: 15px 30px;
    margin: 10%;
    border: 2px solid black;
    border-radius: 15px;
    text-decoration: none;
  }

  #bioword{
    padding: 15px 61px;
  }
  .bio{
    padding: 0 20px 10% 20px;
    margin: 10% 20% 30% 20%;
    border: 3px solid white;
    border-radius: 15px;
    background: white;
  }
  .anchor {
    position: absolute;
    transform: translateY(-28vh);
  }  
  .title{
    text-align: center;
  }
  .picture{
    max-width: 170px;
    padding: 100px;
    border: 2px solid black;
    margin-right: 15px;
    float: left;
    border-radius: 15px;
  }
  .caption{
    display: block;
    margin: 40px 0 0 0;
    margin-left: 15px;
  }
  .projects {
    
    text-align: center;
    margin: 5% 20% 48% 20%;
  }
  .contacts{
    
    text-align: center;
  }
  .contacts img{
    height: auto;
    width: auto;
    max-height: 75px;
    max-width: 75px;
    margin: 20px 40px 0 40px;
  }
